.DS_Store
.idea/
JohnnyCastaway2026

original_c
assets_old
inspect
resource_windows_*.syso
/build/JohnnyCastaway-x64.exe
/build/JohnnyCastaway-x86.scr
/build/JohnnyCastaway.ini
/build/history/
/build/screenshot*.png
/build/scrantic/
/scrantic/
/assets/RESOURCE.MAP
/assets/RESOURCE.001
/resources/*.wav
/build/windows/johnny.ico
